<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/Ferti.css">
</head>
<body>
    <%- include('navbar'); -%>
    <div class="section1">
        <div class="fer">
            <h1>Fertilisation</h1>
            <p>La connaissance des caractéristiques du sol au moment de la programmation de la fertilisation est un atout qui permet d’assurer une fertilisation raisonnée, afin de : </p>
            <ul>
                <li>Satisfaire les besoins nutritifs de l'olivier;
                </li>
                <li>Minimiser l'impact sur l'environnement;
                </li>
                <li>Obtenir une meilleure production en termes de quantité mais également de qualité;
                </li>
                <li>Éviter les apports systématiques et excessifs de nutriments.
                </li>
            </ul>
            <p class="pra">La pratique de la fertilisation de l’olivier se résume en 4 compartiments :</p>
        </div>
        <div class="image">
            <img src="../public/images/fertilisation-sol.jpg" alt="">
        </div>
    </div>
    <div class="section2">
        <div class="text">
            <h2>
                La fertilisation organique
            </h2>
            <p>
                L'apport de la matière organique est une pratique courante qui vise l'amélioration ou le maintien des propriétés physiques et chimiques du sol. Parallèlement, l'effet fertilisant des composés organiques est à prendre en compte. Cependant, la libération des nutriments surtout l'azote minéral, est étroitement liée aux conditions climatiques et la nature de la matière organique utilisée, ce qui rend difficile l'optimisation de la gestion de la fertilisation.
            </p>
            <p>
                Dans les conditions des oliveraies marocaines, on estime qu'il faut environ 30 tonnes/ha de fumier bien décomposé ou compost pour relever le taux de matière organique d'un sol de 1%. Un fumier de qualité peut apporter au sol jusqu'à 3 kg N/T, 3 kg P20s/T et 7 kg K20/T.
            </p>
        </div>
        <div class="img">
            <img src="" alt="">
        </div>
    </div>
    <div class="section3">
        <div class="text">
            <h2>
                La fertilisation organique
            </h2>
            <p>
                L'apport de la matière organique est une pratique courante qui vise l'amélioration ou le maintien des propriétés physiques et chimiques du sol. Parallèlement, l'effet fertilisant des composés organiques est à prendre en compte. Cependant, la libération des nutriments surtout l'azote minéral, est étroitement liée aux conditions climatiques et la nature de la matière organique utilisée, ce qui rend difficile l'optimisation de la gestion de la fertilisation.
            </p>
            <p>
                Dans les conditions des oliveraies marocaines, on estime qu'il faut environ 30 tonnes/ha de fumier bien décomposé ou compost pour relever le taux de matière organique d'un sol de 1%. Un fumier de qualité peut apporter au sol jusqu'à 3 kg N/T, 3 kg P20s/T et 7 kg K20/T.
            </p>
        </div>
        <div class="img">
            <img src="" alt="">
        </div>
    </div>
    <div class="section4">
        <div class="text">
            <h2>
                La fertilisation organique
            </h2>
            <p>
                L'apport de la matière organique est une pratique courante qui vise l'amélioration ou le maintien des propriétés physiques et chimiques du sol. Parallèlement, l'effet fertilisant des composés organiques est à prendre en compte. Cependant, la libération des nutriments surtout l'azote minéral, est étroitement liée aux conditions climatiques et la nature de la matière organique utilisée, ce qui rend difficile l'optimisation de la gestion de la fertilisation.
            </p>
            <p>
                Dans les conditions des oliveraies marocaines, on estime qu'il faut environ 30 tonnes/ha de fumier bien décomposé ou compost pour relever le taux de matière organique d'un sol de 1%. Un fumier de qualité peut apporter au sol jusqu'à 3 kg N/T, 3 kg P20s/T et 7 kg K20/T.
            </p>
        </div>
        <div class="img">
            <img src="" alt="">
        </div>
    </div>
</body>
</html>