<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/Ferti.css">
</head>
<body>
    <!-- <%- include('navbar'); -%> -->
    <div class="fer">
        <h1>Fertilisation</h1>
        <p>La connaissance des caractéristiques du sol au moment de la programmation de la fertilisation est un atout qui permet d’assurer une fertilisation raisonnée, afin de : </p>
        <ul>
            <li>Satisfaire les besoins nutritifs de l'olivier;
            </li>
            <li>Minimiser l'impact sur l'environnement;
            </li>
            <li>Obtenir une meilleure production en termes de quantité mais également de qualité;
            </li>
            <li>Éviter les apports systématiques et excessifs de nutriments.
            </li>
        </ul>
    </div>
</body>
</html>